@using Domain.Entities;
@using Service.Services.DTOs.SubLocation;
@model List<SubLocation>;
@{
	ViewData["Title"] = "Index";
	int count = 1;
}
<!-- partial -->

<div class="page-content">

	<div class="row">
		<div class=" grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<h6 class="card-title">SubLocation Table</h6>
					<div class="table-responsive">
						<table class="table">
							<thead>
								<a type="submit" asp-action="Create" class="btn btn-primary" style="margin-bottom:10px;">+Add SubLocation</a>
								<tr>
									<th>#</th>
									<th>SubLocation Name</th>
									<th>Location Name</th>
									<th>Update</th>
									<th>Delete</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									if (item.SoftDelete==false)
									{
									<tr>
										<th>@count</th>
										<td>@item.Name</td>
										@if (item.Location.SoftDelete==false)
											{
												<td>@item.Location.Name</td>
											}
										<td>
											<a class="btn btn-warning" asp-action="Update" asp-route-id="@item.Id">Update</a>
										</td>
										<td>
											<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
										</td>
									</tr>
										count++;
									}
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>



</div>

